@import url(fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1288px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}

.btn {
    background: #000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    display: inline-block;
    font-size: 15px;
    line-height: 54px;
    color: #fff;
    transition: .4s;
}

.btn:hover {
    background: #fff;
    color: #000;
}

/* team */

.team{
    padding: 174px 0;
}

.team__title{
    font-size: 48px;
    color: #000;
    margin-bottom: 28px;
    text-align: center;
}

.team__subtitle{
    max-width: 705px;
    width: 100%;
    font-size: 17px;
    color: #46474E;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
}

.team__image-fuji{
    max-width: 124px;
    width: 100%;
    margin-bottom: 24px;
}

.team__image-title{
    font-size: 15px;
    color: #000;
    font-weight: 400;
    margin-bottom: 3px;
}

.team__image-subtitle{
    font-size: 13px;
    color: #46474E;
    font-weight: 400;
}

.team__title-image{
    max-width: 226px;
    width: 100%;
    text-align: center;
}

.team__image{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* team */
