@import url(fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1288px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}

.btn {
    background: #000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    display: inline-block;
    font-size: 15px;
    line-height: 54px;
    color: #fff;
    transition: .4s;
}

.btn:hover {
    background: #fff;
    color: #000;
}

/* company */

.company{
    padding: 128px 0;
}

.company__title{
    font-size: 48px;
    max-width: 331px;
    width: 100%;
    color: #000;
    margin-bottom: 26px;
}

.company__subtitle{
    max-width: 408px;
    width: 100%;
    font-size: 17px;
    color: #46474E;
}

.company__username-title{
    color: #000;
    margin-bottom: 4px;
}

.company__username-subtitle{
    color: #697882;
    font-weight: 400;
    font-size: 14px;
}

.company__user{
    max-width: 36px;
    height: 36px;
    width: 100%;
}

.company__card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 449px;
    width: 100%;
    padding: 24px 23px;
    background: #fff;
    border: 1px solid #E8E8E9;
    border-radius: 10px;
    margin-bottom: 17px;
}



.company__username{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 17px;
}

.company__txt{
    display: flex;
    margin-bottom: 24px;
}

.company__card-txt{
    margin-bottom: 17px;
}

.company__url{
    color: #46474E;
}

.company__time{
    font-size: 13px;
    color: #697882;
}

.company .container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media(max-width: 880px){
    .company .container{
        gap: 15px;
    }
}


/* company */

/* team */

.team{
    padding: 174px 0;
}

.team__title{
    font-size: 48px;
    color: #000;
    margin-bottom: 28px;
    text-align: center;
    font-weight: 400;
}

.team__subtitle{
    max-width: 705px;
    width: 100%;
    font-size: 17px;
    color: #46474E;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
}

.team__image-fuji{
    max-width: 124px;
    width: 100%;
    margin-bottom: 24px;
}

.team__image-title{
    font-size: 15px;
    color: #000;
    font-weight: 400;
    margin-bottom: 3px;
}

.team__image-subtitle{
    font-size: 13px;
    color: #46474E;
    font-weight: 400;
}

.team__title-image{
    max-width: 226px;
    width: 100%;
    text-align: center;
}

.team__image{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* team */
